@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*, *::before, ::after{ box-sizing: border-box;}
:root{
    --search: #bfffea;
    --zoom: #97b8ff;
    --font: #ffcab1;
    --dark: #fff;
}
html{ width: 100%;}
body{
    width: 100%;
    margin: 0;
    background: #444;
    color: var(--font);
    font-family:'Varela Round', sans-serif;
    display: grid;
    grid-template-areas:
    ' . search unit'
    ' . main  . '
    ' . . . ';
    align-items: center;
    justify-content: center;
}
#weather-info{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 28rem;
    padding: 0 10px;
}
h1, h2, p {
    margin: 1rem 0;
}
#weather-icon{
    padding: 1rem;
    width: 6rem; height: 6rem;
}
#search-div{
    display: flex;
    flex-direction: row;
    width: 14rem;
    height: 2.4rem;
    background: var(--search);
    border-radius: 9px;
    box-shadow: 0 0 5px black;
    padding: 0 5px;
    grid-area: search;
}
#search-div .fa-search{
    color: var(--zoom);
    width: 100%; height: 100%;
}
#search-input, #search-btn{
    width: 90%; height: 100%;
    padding: 5px 10px;
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
}
#search-div #search-btn{
    width: 1.5rem; height: 100%;
    padding: 0;
    cursor: pointer;
}
/* Toggle weather unit */
#weather-unit{
    position: absolute;
    visibility: hidden;
    left: -1000px;
}
#unit-label{
    cursor: pointer;
    height: 70px;
    grid-area: unit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
}
#toggle-unit{
    display: flex;
    border-radius: 20px;
    width: 62px;
    height: 32px;
    background: url('./imgs/unit.png'), #849bff;
    background-repeat: no-repeat;
    background-position:center;
    background-size:95% 80%;
    box-shadow: 0 0 6px #000;
}
#toggle-unit::before{
    content: '';
    background: var(--search);
    border-radius: 25px;
    width: 32px;
    height: 32px;
    transition: transform .4s ease-in;
    box-shadow: 0 0 6px #000;
}
#weather-unit:checked + #toggle-unit::before{
    transform: translateX(30px);
}